<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-firebase-analytics"
    version="1.0.0">

    <name>Firebase Analytics</name>
    <description>Cordova plugin for Firebase Analytics with iOS Privacy Manifest support</description>
    <license>MIT</license>
    <keywords>cordova,firebase,analytics,ios,android,privacy</keywords>
    <repo>https://github.com/kchomontiel/firebase-only-analytics-plugin</repo>
    <issue>https://github.com/kchomontiel/firebase-only-analytics-plugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <js-module src="www/firebase-analytics.js" name="FirebaseAnalytics">
        <clobbers target="cordova.plugins.firebase.analytics" />
    </js-module>

    <!-- Android Platform -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseAnalytics">
                <param name="android-package" value="com.yourcompany.cordova.firebase.FirebaseAnalyticsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="firebase_analytics_collection_enabled" android:value="true" />
            <meta-data android:name="firebase_analytics_collection_deactivated" android:value="false" />
            <meta-data android:name="firebase_analytics_debug_enabled" android:value="true" />
        </config-file>

        <source-file src="src/android/FirebaseAnalyticsPlugin.java" target-dir="src/com/yourcompany/cordova/firebase" />

        <framework src="com.google.firebase:firebase-analytics:21.5.0" />
        <framework src="com.google.firebase:firebase-core:21.1.1" />
        
        <!-- Google Services plugin for processing google-services.json -->
        <framework src="com.google.gms:google-services:4.4.0" />
        
        <!-- Add packaging configuration directly to resolve JNA conflicts -->
        <config-file target="app/build.gradle" parent="/android">
            <packagingOptions>
                <pickFirst>META-INF/AL2.0</pickFirst>
                <pickFirst>META-INF/LGPL2.1</pickFirst>
                <pickFirst>META-INF/DEPENDENCIES</pickFirst>
                <pickFirst>META-INF/LICENSE</pickFirst>
                <pickFirst>META-INF/LICENSE.txt</pickFirst>
                <pickFirst>META-INF/NOTICE</pickFirst>
                <pickFirst>META-INF/NOTICE.txt</pickFirst>
            </packagingOptions>
        </config-file>

        <!-- Add configurations exclusion for JNA -->
        <config-file target="app/build.gradle" parent="/">
            <configurations.all>
                <exclude group="net.java.dev.jna" module="jna" />
                <exclude group="net.java.dev.jna" module="jna-platform" />
            </configurations.all>
        </config-file>

        <hook type="after_plugin_install" src="hooks/android_after_plugin_install.js" />
    </platform>

    <!-- iOS Platform -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseAnalytics">
                <param name="ios-package" value="FirebaseAnalyticsPlugin" />
            </feature>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <preference name="FirebaseAnalyticsConfigurationFile" value="GoogleService-Info.plist" />
        </config-file>

        <source-file src="src/ios/FirebaseAnalyticsPlugin.swift" />

        <framework src="FirebaseAnalytics" type="podspec" spec="~> 10.26.0" />
        <framework src="FirebaseCore" type="podspec" spec="~> 10.26.0" />
        
        <hook type="after_plugin_install" src="hooks/ios_after_plugin_install.js" />
    </platform>
</plugin>
