<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id="cordova-plugin-firebase" version="2.0.7">
    <name>Google Firebase Plugin</name>
    <description>Cordova plugin for Google Firebase</description>
    <license>MIT</license>
    <keywords>cordova,phonegap,ionic,firebase</keywords>
    <repo>https://github.com/kchomontiel/firebase-only-analytics-plugin.git</repo>

    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-android" version=">=6.4.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <!-- iOS Hooks -->
    <hook type="before_plugin_install" src="scripts/ios/cleanOutSystemsCache.js" />
    <hook type="before_plugin_install" src="scripts/ios/cleanCocoaPodsRepos.js" />
    <hook type="after_plugin_install" src="scripts/ios/removeAppDelegateFile.js" />
    <hook type="after_plugin_install" src="scripts/ios/cleanProjectReferences.js" />
    <hook type="after_plugin_install" src="scripts/ios/initializeFirebase.js" />
    <hook type="after_plugin_install" src="scripts/ios/forceFixAllSettings.js" />
    <hook type="after_plugin_install" src="scripts/ios/fixSwiftSettings.js" />
    <hook type="after_plugin_install" src="scripts/ios/fixDeploymentTargets.js" />
    <hook type="after_plugin_install" src="scripts/ios/verifyPluginFiles.js" />

    <!-- Configuration Hooks - RESTORED from master version -->
    <hook type="before_plugin_install" src="scripts/configurations/installDependencies.js" />
    <hook type="before_plugin_install" src="scripts/configurations/unzipAndCopyConfigurations.js" />
    <hook type="before_plugin_install" src="scripts/configurations/unzipAndCopySound.js" />
    

    <js-module src="www/firebase.js" name="FirebasePlugin">
        <clobbers target="FirebasePlugin" />
    </js-module>

    <preference name="APP_DOMAIN" default="/" />
    <preference name="APP_PATH" default="/" />

    <!-- Android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="$APP_DOMAIN" android:pathPrefix="$APP_PATH"/>
                <data android:scheme="https" android:host="$APP_DOMAIN" android:pathPrefix="$APP_PATH"/>
            </intent-filter>
        </config-file>
        
        <source-file src="src/android/FirebasePlugin.java" target-dir="src/org/apache/cordova/firebase" />
        <source-file src="src/android/OnNotificationOpenReceiver.java" target-dir="src/org/apache/cordova/firebase" />
        <source-file src="src/android/FirebasePluginInstanceIDService.java" target-dir="src/org/apache/cordova/firebase" />
        <source-file src="src/android/FirebasePluginMessagingService.java" target-dir="src/org/apache/cordova/firebase" />
        <source-file src="src/android/FirebasePluginMessageReceiver.java" target-dir="src/org/apache/cordova/firebase" />
        <source-file src="src/android/FirebasePluginMessageReceiverManager.java" target-dir="src/org/apache/cordova/firebase" />
        <source-file src="src/android/OnNotificationOpenActivity.java" target-dir="src/org/apache/cordova/firebase" />
        <source-file src="src/android/cordova-plugin-firebase-colors.xml" target-dir="res/values" />
        <source-file src="src/android/cordova-plugin-firebase-strings.xml" target-dir="res/values" />
        <source-file src="src/android/build.gradle" target-dir="." />
        <source-file src="src/android/build-extras.gradle" target-dir="." />
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="org.apache.cordova.firebase.FirebasePluginMessagingService" android:exported="false" android:stopWithTask="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
            <service android:name="org.apache.cordova.firebase.FirebasePluginInstanceIDService" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                </intent-filter>
            </service>
            <receiver android:name="org.apache.cordova.firebase.OnNotificationOpenReceiver" />
            <activity android:name="org.apache.cordova.firebase.OnNotificationOpenActivity" />
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
            <meta-data android:name="firebase_analytics_collection_enabled" android:value="@string/firebase_analytics_collection_enabled"/>
            <meta-data android:name="firebase_analytics_collection_deactivated" android:value="@string/firebase_analytics_collection_deactivated"/>
        </config-file>

        <!-- ✅ FIREBASE DEPENDENCIES: Match master version with updated versions -->
        <framework src="com.google.gms:google-services:4.4.2" />
        <framework src="com.google.firebase:firebase-analytics:21.5.1" />
        <framework src="com.google.firebase:firebase-messaging:23.4.1" />
        <framework src="com.google.firebase:firebase-config:21.6.0" />
        <framework src="com.google.firebase:firebase-perf:20.5.1" />
        <framework src="com.google.firebase:firebase-dynamic-links:21.2.0" />
        <framework src="com.google.firebase:firebase-iid:21.1.0" />
        <framework src="com.google.firebase:firebase-installations:17.2.0" />

        <!-- Copy google-services.json to multiple locations for Google Services plugin -->
        <resource-file src="google-services.json" target="app/google-services.json" />
        <resource-file src="google-services.json" target="google-services.json" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebasePlugin">
                <param name="ios-package" value="FirebasePlugin" />
            </feature>
        </config-file>

        <source-file src="src/ios/FirebasePlugin.swift" />
        <source-file src="src/ios/FirebasePlugin.h" />
        <source-file src="src/ios/FirebasePlugin.m" />
        <source-file src="src/ios/AppDelegate+FirebasePlugin.h" />
        <source-file src="src/ios/AppDelegate+FirebasePlugin.m" />
        <source-file src="src/ios/FirebasePluginMessageReceiver.h" />
        <source-file src="src/ios/FirebasePluginMessageReceiver.m" />
        <source-file src="src/ios/FirebasePluginMessageReceiverManager.h" />
        <source-file src="src/ios/FirebasePluginMessageReceiverManager.m" />
        <source-file src="src/ios/FirebaseWrapper.h" />

        <resource-file src="GoogleService-Info.plist" target="./GoogleService-Info.plist" />

        <framework src="FirebaseCore" />
        <framework src="FirebaseAnalytics" />
        <framework src="FirebaseMessaging" />
        <framework src="FirebaseInstallations" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="Firebase/Core" spec="~> 8.0.0" />
                <pod name="Firebase/Analytics" spec="~> 8.0.0" />
                <pod name="Firebase/Messaging" spec="~> 8.0.0" />
                <pod name="Firebase/Installations" spec="~> 8.0.0" />
            </pods>
            <post_install>
                |            config.build_settings['IPHONEOS_DEPLOYMENT_TARGET'] = '10.0'
                |            config.build_settings['SWIFT_VERSION'] = '5.0'
                |            config.build_settings['SWIFT_OPTIMIZATION_LEVEL'] = '-Onone'
                |            config.build_settings['ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES'] = 'NO'
            </post_install>
        </podspec>
    </platform>
</plugin>
