<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-firebase-analytics"
    version="1.0.0">

    <name>Firebase Analytics</name>
    <description>Cordova plugin for Firebase Analytics with iOS Privacy Manifest support</description>
    <license>MIT</license>
    <keywords>cordova,firebase,analytics,ios,android,privacy</keywords>
    <repo>https://github.com/kchomontiel/firebase-only-analytics-plugin</repo>
    <issue>https://github.com/kchomontiel/firebase-only-analytics-plugin/issues</issue>

    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <js-module src="www/firebase-analytics.js" name="FirebaseAnalytics">
        <clobbers target="cordova.plugins.firebase.analytics" />
    </js-module>

    <!-- Android Platform -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseAnalytics">
                <param name="android-package" value="com.yourcompany.cordova.firebase.FirebaseAnalyticsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="firebase_analytics_collection_enabled" android:value="true" />
            <meta-data android:name="firebase_analytics_collection_deactivated" android:value="false" />
            <meta-data android:name="firebase_analytics_debug_enabled" android:value="true" />
            <meta-data android:name="com.google.firebase.analytics.app_id" android:value="1:642052028066:android:a91aa1ee5dd74d30e389fb" />
            <meta-data android:name="google_app_id" android:value="1:642052028066:android:a91aa1ee5dd74d30e389fb" />
        </config-file>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.yourcompany.cordova.firebase.FirebaseMessagingService" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
            <service android:name="com.yourcompany.cordova.firebase.FirebaseInstanceIDService" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                </intent-filter>
            </service>
            <receiver android:name="com.yourcompany.cordova.firebase.OnNotificationOpenReceiver" />
            <activity android:name="com.yourcompany.cordova.firebase.OnNotificationOpenActivity" />
        </config-file>

        <source-file src="src/android/FirebaseAnalyticsPlugin.java" target-dir="src/com/yourcompany/cordova/firebase" />

        <!-- Include build configuration to resolve JNA conflicts (based on working master) -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/FirebaseMessagingService.java" target-dir="src/com/yourcompany/cordova/firebase" />
        <source-file src="src/android/FirebaseInstanceIDService.java" target-dir="src/com/yourcompany/cordova/firebase" />
        <source-file src="src/android/OnNotificationOpenReceiver.java" target-dir="src/com/yourcompany/cordova/firebase" />
        <source-file src="src/android/OnNotificationOpenActivity.java" target-dir="src/com/yourcompany/cordova/firebase" />
        
        <!-- Firebase Analytics dependency -->
        <framework src="com.google.firebase:firebase-analytics:21.5.0" />
        <!-- Firebase Cloud Messaging dependency -->
        <framework src="com.google.firebase:firebase-messaging:23.4.0" />
        
        <!-- Google Services plugin for processing google-services.json -->
        <framework src="com.google.gms:google-services:4.4.0" />
        

        <hook type="after_plugin_install" src="hooks/android_after_plugin_install.js" />
    </platform>

    <!-- iOS Platform -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseAnalytics">
                <param name="ios-package" value="FirebaseAnalyticsPlugin" />
            </feature>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <preference name="FirebaseAnalyticsConfigurationFile" value="GoogleService-Info.plist" />
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleShortVersionString">
            <key>FirebaseAnalyticsCollectionEnabled</key>
            <true/>
        </config-file>

        <config-file target="*-Info.plist" parent="LSEnvironment">
            <key>FIRAnalyticsDebugEnabled</key>
            <string>YES</string>
        </config-file>

        <source-file src="src/ios/FirebaseAnalyticsPlugin.swift" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="FirebaseAnalytics" spec="~> 10.25.0" />
                <pod name="FirebaseCore" spec="~> 10.25.0" />
            </pods>
        </podspec>
        
        <hook type="after_plugin_install" src="hooks/ios_after_plugin_install.js" />
    </platform>
</plugin>
